.chamada-para-acao {
  margin-top: 1rem;
  font-weight: 700;
  color: #ED7839;
  text-align: center;
}

.container-das-imagens {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15.125rem;
}

.imagens {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.container-do-texto-motivador {
  display: flex;
  justify-content: center;
}

.texto-motivador {
  font-family: Quicksand;
  font-weight: 400;
  width: 40rem;
  text-align: center;
  font-size: 0.875rem;
}

.container-do-botao {
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linha {
  background-color: #E7E7E7;
  height: 1px;
  flex-grow: 1;
}

.btn-create-topic {
  width: 8.3125rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
}

.texto-criar-topico {
  color: white;
  margin-left: 0.5rem
}
