<body>
  <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
  <div class="label-e-input">
    <form class="subject">Assunto</form>
    <input [(ngModel)]="assunto" class="subject" id="assunto" placeholder="Defina um tópico sucinto para notificar os autores...">
  </div>
  <div class="label-e-input">
    <form>Conteúdo</form>
    <textarea [(ngModel)]="conteudo" id="comentario"></textarea>
  </div>
  <section class="container-do-botao-enviar">
    <button class="btn-create-topic" (click)="enviar()">Enviar</button>
  </section>
</body>
