<body>
  <header>
    <section class="legendas">
      <div class="subtitulo">Anais do Simpósio Latino Americano de Ciências de Alimentos</div>
      <div class="titulo">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</div>
      <div class="issn">ISSN: 1234-5678</div>
    </section>
    <section class="configuracoes-de-idioma">
      <img ngSrc="assets/language%20image.png" alt="" height="21" width="22">
      <select>
        <option *ngFor="let opcao of opcoesDeIdioma">{{opcao}}</option>
      </select>
    </section>
    <section class="area-logada">
      <div>
        <div>Bem vindo!</div>
        <div>alguem12@galoascience.com</div>
      </div>
      <div class="foto-e-notificacoes">
        <div class="selo-de-notificacao"><div>2</div></div>
      </div>
    </section>
  </header>
</body>
