body {
  margin: 0;
}

header {
  display: flex;
  width: 71.625rem;
  height: 4.25rem;
  background-color: #FDF1EB;
}

.legendas {
  font-family: Roboto;
  margin-left: 3rem;
  font-weight: 400;
  color: #725C5C;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subtitulo, .issn {
  font-size: 0.875rem;
}

.titulo {
  font-size: 1.375rem;
}

.configuracoes-de-idioma {
  font-family: Quicksand;
  height: 2.125rem;
  border: 1px solid #CCCCCC;

  display: flex;
  align-items: center;
}

select {
  background-color: transparent;
  border: none;
}

option {
  background-color: transparent;
}

