body {
  margin: 0;
}

.home-page {
  display: flex;
  flex-direction: row;
}

.pagina-principal {
  width: 100%;
  max-width: 100%;
  margin-left: 13.75rem;;
}

.menu-lateral {
  position:fixed;
  height: 100%;
  max-height: 100%;
}
