body {
  font-family: Quicksand;
  color: #5C5C5C;
  font-weight: 400;
  margin-top: 2rem;
}

p {
  font-size: 0.875rem;
  padding: 1rem;
  border: 1px solid #ECECEC
}

.container-do-titulo-do-resumo {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border: 1px solid #ECECEC;
  background-color: #fcf0ea;
  height: 2.8125rem;
}

.texto-resumo {
  margin-left: 1rem;
}

.btn-show-more {
  font-weight: 700;
  font-size: 0.875rem;
  color: #ec7839;
  cursor: pointer;
}

