<body>
  <div class="topico-enviado">Seu tópico foi enviado com sucesso! :D</div>
  <p class="texto-de-agradecimento">Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!</p>
  <p class="descubra-outros-trabalhos">Descubra outros trabalhos!</p>
  <section class="container-do-botao">
    <div class="linha"></div>
    <div class="btn-create-topic">
      <span class="texto-criar-topico" (click)="criarNovoTopico()">criar novo tópico</span>
    </div>
    <div class="linha"></div>
  </section>
</body>
