body {
  font-family: Quicksand;
  }

.topico {
  box-shadow: 0 0 8px 0 #0000001F;
  padding: 1rem;
  margin-top: 1rem
}

.assunto {
  color: #ED7839;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.autor {
  color: #5C5C5C;
  font-size: 0.75rem;
  font-weight: 500;
}

.conteudo {
  color: #4D4D4D;
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
}

footer {
  display: flex;
  align-items: center;
}

.item-do-footer {
  margin-right: 1rem;
  cursor: pointer;
}

.resposta-do-autor {
  background-color: #F8F8F8;
  padding: 1rem;
  border: 1px solid #E7E7E7
}

.resposta-do-nao-autor {
  padding: 1rem;
  border: 1px solid #E7E7E7
}

.autor-da-resposta {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 0.75rem;
  color: #5C5C5C
}

.conteudo-da-resposta {
  color: #4D4D4D;
  font-family: Quicksand;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 1rem;
}

.nome-do-autor-e-selo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-do-selo {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.texto-autor {
  color:#ED7839;
  font-size: 0.875rem;
}

.topicos-em-analise {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.topico-em-analise-nao-editavel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  margin-top: 1rem;
}

.modal-que-cobre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(231, 231, 231, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  margin-top: 1rem;
}

.botao-de-editar-topico {
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #ED7839;
  text-decoration: underline;
  cursor: pointer;
}

.texto-aguardando-feedback {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1rem;
}

.container-do-botao {
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.linha {
  background-color: #E7E7E7;
  height: 1px;
  flex-grow: 1;
}

.botao-de-finalizar-edicao {
  width: 8.3125rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
}
.texto-finalizar-edicao {
  color: white;
}

textarea {
  min-height: 5rem;
  height: 100%;
  width: 100%;
}

label {
  margin-right: 1rem;
  font-family: Roboto;
  color: #ED7839;
  margin-top: 0.7rem;
}
