<body>
  <section class="titulo-e-video">
    <h2 class="titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
    <video width="783" height="430" controls>
      <source src="assets/videoplayback.mp4" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </section>
  <section class="detalhes-do-video">
    <section class="botoes">
      <button class="download botao">
        <img ngSrc="assets/download.png" alt="" height="19" width="19">
        <div class="texto-do-download">Download</div>
      </button>
      <button class="favorito botao"><img ngSrc="assets/favoritar.png" alt="" height="19" width="19"></button>
      <button class="doi botao"><img ngSrc="assets/doi.png" height="19" width="19" alt=""></button>
    </section>
    <p>COMO CITAR ESSE TRABALHO?</p>
  </section>
</body>
