body {
  display: flex;
  flex-direction: row;
}

.titulo {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.25rem;
  color: #ED7839;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.detalhes-do-video {
  display: flex;
  flex-direction: column;
  width: 15.12rem;
}

.botao {
  border: none;
  border-radius: 4px;
  background-color: #ED7839;
  height: 1.9375rem;
  margin-left: 0.5rem;
}

.download {
  width: 7.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto-do-download {
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
}

.botao:hover {
  cursor: pointer;
}

.favorito {
  width: 2.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doi {
  display: flex;
  width: 2.6875rem;
  justify-content: center;
  align-items: center;
}

p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.875rem;
  color: #ED7839;
  text-align: right;
}

.cabecalho-dos-detalhes {
  display: flex;
  align-items: center;
  width: 15.125rem;
  height: 2.8125rem;
  background-color: #FDF1EB;
  border: 1px solid #ECECEC;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.25rem;
}

.texto-do-cabecalho {
  color: #4E4E4E;
  margin-left: 1rem;
}

.sobre-a-apresentacao {
  font-family: Quicksand;
  color: #5C5C5C;
  font-size: 0.75rem;
}

.chave {
  font-weight: 400;
  color: #5C5C5C;
}

.valor {
  color: #5C5C5C;
  font-weight: 700;
}

.conteudo {
  overflow-y: scroll;
  overflow-x: hidden;
}
