<body>
  <section class="titulo-e-video">
    <div class="container-do-titulo">
      <h2 class="titulo">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</h2>
    </div>
    <video width="783" height="430" controls>
      <source src="assets/videoplayback.mp4" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </section>
  <section class="detalhes-do-video">
    <section class="botoes-e-como-citar">
      <section class="container-dos-botoes">
        <div class="download botao">
          <img ngSrc="assets/download.png" alt="" height="19" width="19">
          <div class="texto-do-download">Download</div>
        </div>
        <div class="favorito botao"><img ngSrc="assets/favoritar.png" alt="" height="19" width="19"></div>
        <div class="doi botao"><img ngSrc="assets/doi.png" height="19" width="19" alt=""></div>
      </section>
      <p class="como-citar">COMO CITAR ESSE TRABALHO?</p>
    </section>
    <section class="detalhes">
      <header class="cabecalho-dos-detalhes"><div class="texto-do-cabecalho">Detalhes</div></header>
      <section class="conteudo">
        <section class="sobre-a-apresentacao">
            <div *ngFor="let chave of chaves; index as i">
              <span class="chave">{{chave}}: </span>
              <span class="valor">{{valores[i]}}</span>
            </div>
        </section>
        <br>
        <section class="autores">
          <div class="valor">Autores:</div>
          <div class="chave">Galileo Galilei¹</div>
          <div class="chave">Berta Lange de Morretes²</div>
          <div class="chave">Isaac Newton³</div>
          <div class="chave">Cesar Lattes¹</div>
          <div class="chave">Stephen Hawking⁴</div>
        </section>
        <br><br>
        <section class="universidades">
          <div class="chave">¹Universidade Estadual de Campinas</div>
          <div class="chave">²Universidade de São Paulo</div>
          <div class="chave">³Instituto Nacional de Pesquisas Espaciais</div>
          <div class="chave">⁴Universidade Federal do Rio de Janeiro</div>
        </section>
      </section>
    </section>
  </section>
</body>
