body {
  font-family: Roboto;
  color: #5C5C5C;
  font-weight: 500;
  margin-top: 2rem;
  border: 1px solid #ECECEC
}

p {
  font-size: 0.875rem;
}

.container-do-titulo-discussoes {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border: 1px solid #ECECEC;
  background-color: #fcf0ea;
  width: inherit;
  height: 2.8125rem;
}

.texto-discussoes {
  font-size: 1.25rem;
  margin-left: 1rem;
}
